.sidePanel {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: white;
    z-index: 200;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .sidePanel__link {
    text-decoration: none; /* Remove underline from the link */
    width: 100%; /* Make sure the button occupies the full width of its container */
  }
  
  .sidePanel__Login, .sidePanel__Signup {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: white; /* Text color for the buttons */
  }
  
  .sidePanel__Login {
    background-color: orange;
  }
  
  .sidePanel__Login:hover {
    background-color: darkorange; /* Darker shade for hover effect */
  }
  
  .sidePanel__Signup {
    background-color: #4CAF50; /* A decent green color */
  }
  
  .sidePanel__Signup:hover {
    background-color: #45a049; /* Darker green shade for hover effect */
  }
  